section.tasteteamonials#tasteteamonials
  div.wrapper
    header
      h3.tasteteamonials__headline
        | #Taste
        span.tasteteamonials__headline--highlighted tea
        | monials
      p.tasteteamonials__blurb Experts give their tasting notes on the TEALEAVES x RUDD Cabernet french Oak Tea.
  div.wrapper.wrapper--desktop
    section.tasteteamonials__content.tasteteamonials__content--desktop
      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/mandarin.svg')
          img(src='assets/images/tasteamonials/logos/mastersommeliers.svg')
        h4.tasteteamonial__title Master Sommelier
        h4.tasteteamonial__name Will Costello
        p.tasteteamonial__quote “It’s very, very pretty. High toned and flowery is the dominant characteristic of this tea.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/180103049?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/michelin.svg')
          img(src='assets/images/tasteamonials/logos/michelin.svg')
        h4.tasteteamonial__title 2-Star Michelin Executive Chef
        h4.tasteteamonial__name Shaun Hergatt
        p.tasteteamonial__quote “It’s extremely balanced and has a refined flavor profile. There is a certain terroir you can taste that is given from the barrels.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/182721968?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/rudd.svg')
        h4.tasteteamonial__title Winegrower
        h4.tasteteamonial__name Frederick Ammons
        p.tasteteamonial__quote “The fruit signature of cabernet, infused in the barrel adds a lifting, vibrant dimension to the warm, earthy character of the tea.  It is a marriage of toast, floral, earth and structure.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/178613490?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/rudd.svg')
        h4.tasteteamonial__title Managing Director
        h4.tasteteamonial__name Oscar Henquet
        p.tasteteamonial__quote “Here you get the floral notes, you get some of the vanilla notes, the smoky notes, and at the same time it is a very elegant tea.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/178954387?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/Auberge_Resorts.png')
        h4.tasteteamonial__title VP of Operations
        h4.tasteteamonial__name John Washko
        p.tasteteamonial__quote “This leaves an essence of the wine on your palate, it leaves a taste that I’ve just come out of the wine room.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/117297484?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/conrad.svg')
        h4.tasteteamonial__title Executive Chef
        h4.tasteteamonial__name Antonio Cardoso
        p.tasteteamonial__quote “The blend, it’s very soothing. For a white tea, I think it’s a great flavorful tea.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/159517608?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/conrad.svg')
        h4.tasteteamonial__title Food and Beverage Manager
        h4.tasteteamonial__name Lukasz Bolbot
        p.tasteteamonial__quote “If you age it longer, it’s going to overpower the subtleties of the white tea  so it’s a very fine game you know when it comes to aging.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/124157232?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
      div.tasteteamonial
        div.tasteteamonial__icons
          img(src='assets/images/tasteamonials/logos/press.svg')
        h4.tasteteamonial__title Executive Chef and General Manager
        h4.tasteteamonial__name Trevor Kunk and Spencer Weiss
        p.tasteteamonial__quote “I say a little bit of oak, jasmine, again the orange blossom or the honeysuckle blossom really resonates.”
        div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/118042878?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
  div.wrapper.wrapper--mobile
    slick.tasteteamonials__content.tasteteamonials__content--mobile(dots="true" infinite="true")

      div.tasteteamonial_pair
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/mandarin.svg')
            img(src='assets/images/tasteamonials/logos/mastersommeliers.svg')
          h4.tasteteamonial__title Master Sommelier
          h4.tasteteamonial__name Will Costello
          p.tasteteamonial__quote “It’s very, very pretty. High toned and flowery is the dominant characteristic of this tea.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/180103049?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/michelin.svg')
            img(src='assets/images/tasteamonials/logos/michelin.svg')
          h4.tasteteamonial__title 2-Star Michelin Executive Chef
          h4.tasteteamonial__name Shaun Hergatt
          p.tasteteamonial__quote “It’s extremely balanced and has a refined flavor profile. There is a certain terroir you can taste that is given from the barrels.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/182721968?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial_pair
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/rudd.svg')
          h4.tasteteamonial__title Winegrower
          h4.tasteteamonial__name Frederick Ammons
          p.tasteteamonial__quote “The fruit signature of cabernet, infused in the barrel adds a lifting, vibrant dimension to the warm, earthy character of the tea.  It is a marriage of toast, floral, earth and structure.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/178613490?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/rudd.svg')
          h4.tasteteamonial__title Managing Director
          h4.tasteteamonial__name Oscar Henquet
          p.tasteteamonial__quote “Here you get the floral notes, you get some of the vanilla notes, the smoky notes, and at the same time it is a very elegant tea.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/178954387?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial_pair
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/Auberge_Resorts.png')
          h4.tasteteamonial__title VP of Operations
          h4.tasteteamonial__name John Washko
          p.tasteteamonial__quote “This leaves an essence of the wine on your palate, it leaves a taste that I’ve just come out of the wine room.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/117297484?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/conrad.svg')
          h4.tasteteamonial__title Executive Chef
          h4.tasteteamonial__name Antonio Cardoso
          p.tasteteamonial__quote “The blend, it’s very soothing. For a white tea, I think it’s a great flavorful tea.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/159517608?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

      div.tasteteamonial_pair
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/conrad.svg')
          h4.tasteteamonial__title Food and Beverage Manager
          h4.tasteteamonial__name Lukasz Bolbot
          p.tasteteamonial__quote “If you age it longer, it’s going to overpower the subtleties of the white tea  so it’s a very fine game you know when it comes to aging.”
          div.tasteteamonial__cta(src='assets/images/tasteamonials/cta.svg' ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/124157232?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")
        div.tasteteamonial
          div.tasteteamonial__icons
            img(src='assets/images/tasteamonials/logos/press.svg')
          h4.tasteteamonial__title Executive Chef and General Manager
          h4.tasteteamonial__name Trevor Kunk and Spencer Weiss
          p.tasteteamonial__quote “I say a little bit of oak, jasmine, again the orange blossom or the honeysuckle blossom really resonates.”
          div.tasteteamonial__cta(ng-click="showTasteteaVideo = true; tasteteaVideoUrl='https://player.vimeo.com/video/118042878?autoplay=1&color=d2c0ac&title=0&byline=0&portrait=0'")

div.tasteteamonials_video-overlay.ng-cloak(ng-show="showTasteteaVideo" ng-click="showTasteteaVideo = false;")
  div.tasteteamonials_video-close-btn
    img(src="assets/images/tasteamonials/icon_close-btn.png")
  div.tasteteamonials_video-overlay-container
    div.tasteteamonials_video-overlay-inner-container
      iframe(ng-if="showTasteteaVideo" ng-src="{{tasteteaVideoUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
