section.craftsmanship#craftsmanship

  div.craftsmanship__content
    div.wrapper
      header.craftsmanship__header
        h4.eyebrow craftsmanship&mdash;
        h3.craftsmanship__headline
          | Blending the
          br
          | East and West,
          br
          | Old and New

      div.craftsmanship__main
        div.craftsmanship__para
          p Tradition meets innovation. The TEALEAVES x Rudd Cabernet French Oak Tea was the result of applying the very
            | best techniques and ingredients from the Old World, New World, and Ancient World, drawing parallels between
            | wine and tea.
        div.craftsmanship__para
          p Aged in a used French oak barrel gifted to TEALEAVES by the Rudd Oakville Estate, the “memory” of the wine has
            | been translated to the tea, resulting in a wine tea of great complexity and superior palate.
        div.craftsmanship__para
          button.button--primary--dark(ng-click='craftModalOpen = true')
            | Learn more
          section.craftsmanship__modal

  modal.craftsmanship__modal(opened='craftModalOpen')
    div.craftsmanship__modal-content
      p "Our Master Blenders, paying homage to centuries of tea growers and vintners, blend culture + technique:  China (white tea, imperial-scented) + France (French oak wine-aged barrels) + Napa Valley (Cabernet Sauvignon 'memory' imparted to the barrels) + Vancouver (barrel-aging white tea).

      p In 2015, Rudd gifted to TEALEAVES, an exquisitely aromatic French Oak barrel which had aged their signature 2010 Estate Cabernet Sauvignon.  TEALEAVES blenders experimented with various techniques to artfully marry the aromatics of wine, French oak and jasmine imperial-scented white tea.  Variables of humidity, temperature and aging time were carefully databased to determine the optimal matrix.  The result? A respectful balance between the great culture that is tea, grape and French oak.

      p It is our honor to be a steward of this craft, to innovate in tea blending, mindful of the rich history and passion for thousands of years that has led us to this point."

      p – TEALEAVES Master Blender
