section.craftsmanship
  div.wrapper

    header.craftsmanship__header.col-6
      h4.eyebrow craftsmanship&mdash;
      h3.craftsmanship__headline Blending the Eas and west, old and new

    div.col-4
      div.craftsmanship__para
        p Tradition meets innovation. The TEALEAVES x Rudd Cabernet French Oak Tea was the result of applying the very
          | best techniques and ingredients from the Old World, New World, and Ancient World, drawing parallels between
          | wine and tea.
      div.craftsmanship__para
        p Aged in a used French oak barrel gifted to TEALEAVES by the Rudd Oakville Estate, the “memory” of the wine has
          | been translated to the tea, resulting in a wine tea of great complexity and superior palate.
      div.craftsmanship__para
        button.button--primary--dark learn more
        section.craftsmanship__modal
