node_modules
coverage
dist
.idea
.vscode
*.map
src/public/*html
src/public/**/*html
src/public/includes/**/*.html
src/public/assets/styles/*.css
src/public/assets/styles/**/*.map
src/public/assets/styles/*.map