section.quotes

  ul
    li
      input(type="radio" id="ta" name="tas" )
      label(for="ta")
        blockquote(cite="http://developer.mozilla.org")
          p This is a quotation taken from
          | the Mozilla Developer Center.
    li
      input(type="radio" id="tb" name="tas" )
      label(for="tb")
        blockquote(cite="http://developer.mozilla.org")
          p This is a quotation taken from
          | the Mozilla Developer Center.


