section.tasting-notes.waypoint(active-after)
  div.wrapper
    header.tasting-notes__header
      h3.tasting-notes__headline Tasting Notes&mdash;
    div.tasting-notes__para
      p TEALEAVES x Rudd Cabernet French Oak Tea.
        | Color, aroma, and taste express palate in tea, as in wine.

    div.tasting-notes__body
      dl.tasting-notes__row.cf
        dt.tasting-notes__title Color
        dd.tasting-notes__copy The Liquor: Light jade celadon, typical of unfermented camelia sinensis.
        dt.tasting-notes__title Aroma
        dd.tasting-notes__copy The Nose: Muscatel overtones, jasmine-forward flourish.  Subtle hints of vanilla.
        dt.tasting-notes__title Taste
        dd.tasting-notes__copy The Finish: Complex character, balanced.  Slightly astringent (tannic).


      ul.tasting-notes__row.cf
        li.tasting-notes__cabernet.col-3rd.rel
          figure
            img(src="http://placekitten.com/g/400/400" alt="Tealeaves x Rudd")
            figcaption Delicate notes of white tea
        li.tasting-notes__tea-cup.col-3rd.rel
          figure
            img(src="http://placekitten.com/g/400/400" alt="teacup")
            figcaption Delicate notes of white tea.
        li.tasting-notes__vanilla.col-3rd.rel
          figure
            img(src="http://placekitten.com/g/400/400" alt="Tealeaves x Rudd")
            figcaption Intoxicating heady notes of golden jasmine

  div.wrapper
    ul.tasting-notes__row--full-width.cf
      li.tasting-notes__oak.col-3rd.rel
        figure
          img(src="http://placekitten.com/g/400/400" alt="Tealeaves x Rudd")
          figcaption Delicate notes of white tea
      li.tasting-notes__white-tea.col-3rd.rel
        figure
          img(src="http://placekitten.com/g/400/400" alt="teacup")
          figcaption Delicate notes of white tea.
      li.tasting-notes__jasmine.col-3rd.rel
        figure
          img(src="http://placekitten.com/g/400/400" alt="Tealeaves x Rudd")
          figcaption Intoxicating heady notes of golden jasmine