section.tasting-notes.waypoint(active-after)
  div.wrapper
    header.tasting-notes__header
      h3.tasting-notes__headline Tasting Notes&mdash;
    div.tasting-notes__para
      p TEALEAVES x Rudd Cabernet French Oak Tea.
        | Color, aroma, and taste express palate in tea, as in wine.

