//- base.pug

doctype html
html(lang='en')
  head
    base(href="/")
    meta(charset='UTF-8')
    include ./gtm-head.rawhtml
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Experience a Tasting of Wine Barrel Aged Tea via TEALEAVES x Rudd #BarrelAgedTealeaves
    meta(name='subject', content='Tea')
    meta(name='Description', content='TEALEAVES x Rudd Oakville Estate #BarrelAgedTealeaves: Exprerience a Tasting of Wine Barrel Aged Tea')
    meta(name='Geography', content='TEALEAVES CUSTOMER RELATIONS P.O. BOX 27537 OAKRIDGE RPO  VANCOUVER BC, V5Z 4M4 CANADA')
    meta(http-equiv='CACHE-CONTROL', content='PUBLIC')
    meta(name='Copyright', content='© 2016 Tealeaves.com. All Rights Reserved.')
    meta(name='Publisher', content='Tealeaves')
    meta(name='distribution', content='Global')
    meta(name='Robots', content='INDEX,FOLLOW')
    meta(name='zipcode', content='V5Z 4M4')
    meta(name='city', content='Vancouver')
    meta(name='country', content='Canada')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Explore tea and wine tastings featuring the limited edition TEALEAVES x Rudd Oakville Estate #BarrelAgedTealeaves Blend')
    meta(property='og:url', content='http://rudd.tealeaves.com/')
    meta(property='og:image', content='http://rudd.tealeaves.com/assets/images/social-media/fb-card.png')
    meta(property='og:description', content='TEALEAVES x Rudd Oakville Estate #BarrelAgedTealeaves: Experience a Tasting of Wine Barrel Aged Tea')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://rudd.tealeaves.com/')
    meta(name='twitter:description', content='TEALEAVES x Rudd Oakville Estate #BarrelAgedTealeaves: Experience a Tasting of Wine Barrel Aged Tea')
    meta(name='twitter:image', content='http://rudd.tealeaves.com/assets/images/social-media/tw-card.png')
    link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/6681376/6429972/css/fonts.css")
    link(href='https://fonts.googleapis.com/css?family=Muli:300', rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='assets/styles/main.css')

    link(rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/assets/images/favicon/manifest.json")
    link(rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#000000")

    base(href='/')
  body(ng-app="app" ng-controller="appCtrl as ac" ng-class="{'no-scroll': bodyScroll}")
    include ./gtm-body.rawhtml
    -var menu = { 'Home': '/', 'About': '/about', 'Tastings': '/tastings' };

    block link
      -var selected = 'Home'; //default

    nav.main-nav.sticky-nav
      ul.main-nav__list
        each val, key in menu
          li.main-nav__item
            if selected === key
              a(class="main-nav__item__link selected" href=val, title=key)= key
            else
              a(class="main-nav__item__link" href=val, title=key)= key
        li.main-nav__item
          a.main-nav__item__link(href="http://www.tealeaves.com/rudd-cabernet-french-oak" target="_blank") Shop Now
      mobile-navigation
    div.fluc-curtain
    block body
    block script
      script(src='./bundle.js')
    include ../includes/footer/footer.pug
    script
      | $('.landing-cta__copy').click(function() {
      |   $('html, body').animate({
      |     scrollTop: window.document.body.clientHeight,
      |   }, 800);
      |   setTimeout(function() {
      |     $('html, body').animate({
      |       scrollTop: window.document.body.clientHeight + 1,
      |     }, 0);
      |   }, 1400);
      | });
