div.footer
  div.footer--social
    a(href="https://www.facebook.com/TealeavesCo" target="_blank")
      img(src="assets/images/footer/facebook.png")
    a(href="https://twitter.com/TealeavesCo" target="_blank")
      img(src="assets/images/footer/twitter.png")
    a(href="https://www.instagram.com/tealeavesco/" target="_blank")
      img(src="assets/images/footer/instagram.png")
    a(href="https://www.pinterest.com/TealeavesCo/" target="_blank")
      img(src="assets/images/footer/pinterest.png")
    a(href="https://vimeo.com/tealeaves" target="_blank")
      img(src="assets/images/footer/vimeo.png")
  div.footer--copyright
    | © 2017 Tealeaves.com. All Rights Reserved.
