extends ../extends/base

block body
  section.about-us
    section.about-us__intro
      div.about-us__intro-typography
        h1 About Us -
        img(src="/assets/images/logos/tealeaves-rudd.svg")
      div.about-us__intro-copy
        h2.about-us__intro-copy-header
          | Our mission was simple: to co-create an ultimate wine tea superior
          | in palate
        p.about-us__intro-copy-body
          | The TEALEAVES x Rudd Cabernet French Oak Tea was
          | born from craftsmanship and passion. It celebrates the
          | parallels between wine and tea of great complexity and
          | character, using unlimited time and resources to create
          | the perfect palate. Through the art of blending
          | ingredients, traditions, techniques, and cultures, we are
          | excited to share with you the ultimate expression of tea,
          | wine, and storytelling.
    section.about-us__art-of-blending
      div.about-us__art-of-blending__photo
        h1.about-us__art-of-blending__photo-header The Art of Blending
        img.about-us__art-of-blending__photo-image
    section.about-us__tealeaves
      div.about-us__tealeaves-image
      div.about-us__tealeaves-copy
        img.about-us__tealeaves-copy-logo(src="/assets/images/logos/TEALEAVES logo/Tealeaves_Logo_Icon_BEIGE.png")
        div.about-us__tealeaves-copy-logo-text TEALEAVES
        p.about-us__tealeaves-copy-body
          | TEALEAVES is one of the very few tea blenders in the world, known
          | for crafting the highest quality teas in small batches by hand. We
          | strive for perfection. What drives us? Our neverending quest to make
          | the perfect cup of tea.
        p.about-us__tealeaves-copy-body
          | With the philosophy of eclectic blending and an indomitably
          | ever-curious spirit, TEALEAVES has gripped the hearts and minds
          | of five-star hotels and Michelin Star chefs, worldwide, as their tea
          | brand of choice for over two decades.
        p.about-us__tealeaves-copy-body
          | We keep only 1% of the tea leaves presented to us from the world’s
          | highest grade gardens to ensure that we stay your cup of tea from
          | generation to generation.
        button.about-us__tealeaves-copy-cta Learn More
    section.about-us__ultimate-expression
      div.about-us__ultimate-expression__photo
        h1.about-us__ultimate-expression__photo-header The Ultimate Expression
        div.about-us__ultimate-expression__photo-image
          a.about-us__ultimate-expression__photo-tour-link
            | Take a virtual tour of the estate
            img.about-us__ultimate-expression__photo-tour-link-cta(src='assets/images/tasteamonials/cta.svg')
    section.about-us__rudd
      div.about-us__rudd-image
        a.about-us__rudd-image
      div.about-us__rudd-copy
        img.about-us__rudd-copy-logo(src="/assets/images/logos/RUDD logo/RUDD_BEIGE.png")
        p.about-us__rudd-copy-body
          | Situated in the Napa Valley, Rudd Oakville Estate is driven by a singular
          | mission-to produce the finest wine possible that fully expresses the estate’s
          | singular terroir. A true multi-generational, family-owned estate, Rudd sits on
          | some of Napa Valley’s most celebrated land. Screaming Eagle, Bond Estates,
          | and Dalla Valle Vineyards are just a few of its notable neighbors.
        p.about-us__rudd-copy-body
          | From the dedicated team that farms the vineyards to the patient aging and
          | thoughtful blending that occurs in the estate’s caves, Rudd brings meticulous
          | craftsmanship to every step of the winemaking process. Through over two
          | decades of close study, the team at Rudd has become intimately familiar with
          | the iconic red volcanic soils that produce its celebrated, distinctive wines.
        p.about-us__rudd-copy-body
        button.about-us__rudd-copy-cta Learn More
        