extends ../extends/base

block body
  section.about-us
    section.about-us__intro
      div.about-us__intro-typography
        h1 About Us -
        img(src="/assets/images/logos/tealeaves-rudd.svg")
      div.about-us__intro-copy
        h2.about-us__intro-copy-header
        p.about-us__intro-copy-body
    section.about-us__art-of-blending
      div.about-us__art-of-blending__photo
        h1.about-us__art-of-blending__photo-header The Art of Blending
        img.about-us__art-of-blending__photo-image
    section.about-us__tealeaves
      div.about-us__tealeaves-image
      div.about-us__tealeaves-copy
        img.about-us__tealeaves-copy-logo(src="/assets/images/logos/TEALEAVES logo/Tealeaves_Logo_Icon_BEIGE.png")
        div.about-us__tealeaves-copy-logo-text TEALEAVES
        p.about-us__tealeaves-copy-body
        p.about-us__tealeaves-copy-body
        p.about-us__tealeaves-copy-body
        button.about-us__tealeaves-copy-cta Learn More
    section.about-us__ultimate-expression
      div.about-us__ultimate-expression__photo
        h1.about-us__ultimate-expression__photo-header The Ultimate Expression
    section.about-us__rudd
      div.about-us__rudd-image
        a.about-us__rudd-image
      div.about-us__rudd-copy
        img.about-us__rudd-copy-logo(src="/assets/images/logos/RUDD logo/RUDD_BEIGE.png")
        p.about-us__rudd-copy-body
        p.about-us__rudd-copy-body
        p.about-us__rudd-copy-body
        button.about-us__rudd-copy-cta Learn More
        