- var imgsrc =  '../assets/images/barrel-aging/'
section.barrel-aging
  div.barrel-aging__content
    div.wrapper
      div.barrel-aging__animation
        figure
          img(src=imgsrc + "barrel-bg.png" class="barrel-aging__animation--bg")
          img(src=imgsrc + "leaves.png" active-after threshold=0.7 class="barrel-aging__animation--md waypoint")
          div.barrel-aging__animation--fg-bg
          img(src=imgsrc + "barrel-fg.png" class="barrel-aging__animation--fg")
      header.barrel-aging__header.cf
        div.col-4-5th

          h4.eyebrow Technique&mdash;
          h3.barrel-aging__headline Wine Barrel Aging Tea
      div.barrel-aging__para
        p Just as the French oak barrel imparts richness and nuance to the wine inside it, the same wine imparts its
          | character on the barrel itself. The barrel used to produce the 2010 Rudd Oakville Estate Red offers complex
          | mineral, fruit, wood and vanilla notes, which plays in perfect harmony with the imperial scented jasmine white
          | tea. The tea was aged 200+ days in the French oak barrel at TEALEAVES’ Vancouver Blending Center, ensuring
          | that the oak and wine aromas were absorbed into the white tea at the right levels.  TEALEAVES Master Blenders
          | conducted weekly tastings, modifying the absorption through ambient temperature and relative humidity &ndash
          | to blend this tea with optimal balance and nuance.