section.barrel-aging
  div.wraper
    h4.eyebrow Technique&mdash;
    h3 Wine Barrel Aging Tea
    p
    | Just as the French oak barrel imparts richness and nuance to the wine inside it, the same wine imparts its
    | character on the barrel itself. The barrel used to produce the 2010 Rudd Oakville Estate Red offers complex
    | mineral, fruit, wood and vanilla notes, which plays in perfect harmony with the imperial scented jasmine white
    | tea. The tea was aged 200+ days in the French oak barrel at TEALEAVES’ Vancouver Blending Center, ensuring
    | that the oak and wine aromas were absorbed into the white tea at the right levels.  TEALEAVES Master Blenders
    | conducted weekly tastings, modifying the absorption through ambient temperature and relative humidity &ndash
    | to blend this tea with optimal balance and nuance.