section.french-oak.waypoint
  div.wrapper
    h4.eyebrow French Oak;
    h3 Cabarnet French Oak Tea
    p
    | STUFF STUFF
    | STUFF STUFF
    | STUFF STUFF
    | STUFF STUFF
    | STUFF STUFF
    | STUFF STUFF
    | STUFF STUFF