section.french-oak.waypoint
  div.wrapper
    div.col-8
      h3.french-oak__headline Cabernet <br> French Oak Tea
      h4.french-oak__subline Barrel Aged Tealeaves

      div.french-oak__para
        p 200 days aged
        p 20+ years of expertise

      div.french-oak__para
        p limited allocation, only 100 lots available.

      div.french-oak__para
        p $100 USD | $130 CAD/50g

      div.french-oak__para
        p Thanks you for your interest. 2017 vintage lots have been sold.
        P Please join our list for the next Barrel Aged
          | TEALEAVES allocation.
      input(type="text" class="input-text-primary" placeholder="e.g. winegary@domain.com")
      button.button--primary Join