section.french-oak.waypoint
  div.wrapper
    h3 Cabernet French Oak Tea
    h4 Barrel Aged Tealeaves

    p 200 days aged
    p 20+ years of expertise
    p limited allocation, only 100 lots available.

    p $100 USD | $130 CAD/50g

    p
    | Thanks you for your interest. 2017 vintage lots have been sold. Please join our list for the next Barrel Aged
    | TEALEAVES allocation.
    input(type="text")
    button Join