- var imgsrc =  'assets/images/french-oak/'
section.french-oak.waypoint#shop
  div.french-oak__image
    figure
      img(src=imgsrc + "french-oak-bg-m.jpg")
  div.wrapper.cf
    div.french-oak__content
      figure
        img.mobile(src="assets/images/logos/tealeaves-rudd.svg" alt="TEALEAVES x RUDD")
        img.desktop(src="assets/images/logos/tealeaves-rudd-black.svg" alt="TEALEAVES x RUDD")
      h3.french-oak__headline Cabernet <br> French Oak Tea
      p.french-oak__subline Barrel Aged Tealeaves

      div.french-oak__para
        p 200 days aged
        p 20+ years of expertise

      div.french-oak__para
        p limited allocation, only 100 lots available.

      div.french-oak__para
        p $100 USD | $130 CAD/50g

      // ----------------------------------------------------
      // ----------------------------------------------------
      //  ADD THE HIDDEN CLASS TO HIDE OUT OF STOCK MESSAGE
      //  REMOVE HIDDEN CLASS FROM SHOP BUTTONS TO SHOW THEM
      //  NOTE: Both Shop buttons are needed, one for desktop
      //  and one for mobile.
      // ----------------------------------------------------
      // ----------------------------------------------------
      div.french-oak__para
        p Thanks you for your interest. 2017 vintage lots have been sold.
        p Please join our list for the next Barrel Aged TEALEAVES allocation.
      button.button--primary.hidden Shop
      button.button--primary.button--primary--dark.hidden Shop
