- var imgsrc =  'assets/images/french-oak/'
section.french-oak.waypoint#shop
  div.french-oak__image
    figure
      img(src=imgsrc + "french-oak-bg-m.jpg")
  div.wrapper.cf
    div.french-oak__content
      figure
        img(src="assets/images/logos/tealeaves-rudd.svg" alt="TEALEAVES x RUDD")
      h3.french-oak__headline Cabernet <br> French Oak Tea
      p.french-oak__subline Barrel Aged Tealeaves

      div.french-oak__para
        p 200 days aged
        p 20+ years of expertise

      div.french-oak__para
        p limited allocation, only 100 lots available.

      div.french-oak__para
        p $100 USD | $130 CAD/50g

      div.french-oak__para
        p Thanks you for your interest. 2017 vintage lots have been sold.
        P Please join our list for the next Barrel Aged
          |  TEALEAVES allocation.
      button.button--primary Shop
      button.button--primary.button--primary--dark Shop