extends ../extends/base

block body
  section.tastings-events
    div.wrapper
      header
        h3.tastings-events__headline Tastings&mdash;
        p.tastings-events__blurb Join us for tea and wine tastings and talks featuring the TEALEAVES x Rudd Cabernet French Oak Tea.

    div.wrapper
      section.tastings-event__content
        div.tastings-event
          div.tastings-event__image.col-3rd
            img(src='../assets/images/tastings-events/Event1.jpg')
          div.tastings-event__info.col-2-3rd
            div.tastings-event__info__branding
              img(src='../assets/images/tastings-events/logo_tealeaves-rudd-riedel.png' alt='TEALEAVES x RUDD x Riedel')
            div.tastings-event__info__header
              h2.tastings-event__info__header--name
                | Tea &amp; Wine Tasting With Riedel Glass
              h2.tastings-event__info__header--date
                | Date: TBD
            div.tastings-event__info__content
              p Venue: TBD
              p Location: TBD
              button.button--primary
                | Event Details

        div.tastings-event
          div.tastings-event__image.col-3rd
            img(src='../assets/images/tastings-events/Event2.jpg')
          div.tastings-event__info.col-2-3rd
            div.tastings-event__info__branding
              img(src='../assets/images/tastings-events/logo_tealeaves-rudd.png' alt='TEALEAVES x RUDD')
            div.tastings-event__info__header
              h2.tastings-event__info__header--name
                | Blending &amp; Craftsmanship Talk
              h2.tastings-event__info__header--date
                | Date: TBD
            div.tastings-event__info__content
              p Venue: TBD
              p Location: TBD
              button.button--primary
                | Event Details

        div.tastings-event
          div.tastings-event__image.col-3rd
            img(src='../assets/images/tastings-events/Event3.jpg')
          div.tastings-event__info.col-2-3rd
            div.tastings-event__info__branding
              img(src='../assets/images/tastings-events/logo_tealeaves-rudd.png' alt='TEALEAVES x RUDD')
            div.tastings-event__info__header
              h2.tastings-event__info__header--name
                | Tea &amp; Wine Tasting With Riedel Glass
              h2.tastings-event__info__header--date
                | Date: TBD
            div.tastings-event__info__content
              p Venue: TBD
              p Location: TBD
              button.button--primary
                | Event Details

        div.tastings-event
          div.tastings-event__image.col-3rd
            img(src='../assets/images/tastings-events/Event4.jpg')
          div.tastings-event__info.col-2-3rd
            div.tastings-event__info__branding
              img(src='../assets/images/tastings-events/logo_tealeaves-rudd-riedel.png' alt='TEALEAVES x RUDD x Riedel')
            div.tastings-event__info__header
              h2.tastings-event__info__header--name
                | Blending &amp; Craftsmanship Talk Featuring Riedel Glass
              h2.tastings-event__info__header--date
                | Date: TBD
            div.tastings-event__info__content
              p Venue: TBD
              p Location: TBD
              button.button--primary
                | Event Details


