-
  var terroirWine = {}
  terroirWine.headline = 'terroir'
  terroirWine.subline = 'Oakville, Napa Valley, USA'
  terroirWine.copy = 'The red volcanic iron-rich soils, unique in the world, produce masculine Cabernet Sauvignon grapes that form the backbone of the 2010 Rudd Oakville Estate Red, balancing harmoniously with the more delicate jasmine.'


-
  var keyIngredientWine = {}
  keyIngredientWine.headline = 'Key Ingredient'
  keyIngredientWine.subline = 'Hand-Picked Grapes'
  keyIngredientWine.copy = 'Estate-grown Cabernet Sauvignon grapes are picked by hand offering complex nuances of dark fruit to the TEALEAVES x Rudd Blend. Rudd Estate Winegrower Frederick Ammons tastes the grapes in the vineyards each morning to identify the best time for harvest.'

-
  var techniqueWine = {}
  techniqueWine.headline = 'Technique'
  techniqueWine.subline = 'Barrel Aging Wine'
  techniqueWine.copy = 'Subtle notes of oak and vanilla are the result of a careful aging in toasted oak barrels. Rudd Oakville Estate uses handcrafted, French oak barrels sourced from 400-year-old forests in France. Barrel aging in French oak results in a more nuanced finished wine and pays homage to traditional winemaking practices in France’s esteemed Bordeaux and Burgundy.'

-
  var terroirTea = {}
  terroirTea.headline = 'Terroir'
  terroirTea.subline = 'Fujian, China'
  terroirTea.copy = 'The aroma and taste of jasmine is heady and intoxicating due to the internationally renowned terroir and centuries of expertise from the Fuzhou region of Fujian.'
  terroirTea.button = 'store'
  terroirTea.buttonCopy = 'TEALEAVES blends from the same terroir.'
  terroirTea.buttonLink = 'http://www.tealeaves.com/catalogsearch/result/index/?productattribute_featuredingr=344&q=jasmine&tin_size=15'

-
  var keyIngredientTea = {}
  keyIngredientTea.headline = 'key ingredient'
  keyIngredientTea.subline = 'Hand-Picked White Tea'
  keyIngredientTea.copy = 'Resulting in an intriguing soft slightly vegetal cup, the tea leaves are hand-picked from only the top-most leaves and buds of the camellia sinensis (tea) plant and hand-dried using a heated tray over fire. It takes hundreds of hours to make the small batch that fills the wine barrel used to make the TEALEAVES x Rudd Blend.'
  keyIngredientTea.button = 'store'
  keyIngredientTea.buttonCopy = 'blends from the same whiteTea.'
  keyIngredientTea.buttonLink = 'http://www.tealeaves.com/shop/loose/white'

-
  var techniqueTea = {}
  techniqueTea.headline = 'Technique'
  techniqueTea.subline = 'Imperial Scenting Tea'
  techniqueTea.copy = 'Taste a perfect harmony of Jasmine and toast from the TEALEAVES x Rudd Blend. Labor intensive, the leaves were scented and re-scented 7 times in Fuzhou, China with the leaves placed between bamboo sheets of jasmine to absorb the aromas. The technique pays homage to the traditional Chinese method of imperial-scenting.'
  techniqueTea.button = 'Shop'
  techniqueTea.buttonCopy = 'TEALEAVES imperial scented blends.'
  techniqueTea.buttonLink = 'http://www.tealeaves.com/catalogsearch/result/index/?productattribute_featuredingr=344&q=jasmine&tin_size=15'