section.parallels
  div.wrapper
    ul.channnel__left
      li
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, USA
        div
          h3 hidden col
      li
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, usa
        div
          h3 hidden col
      li
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, usa
        div
          h3 hidden col

    ul.channnel__right
      li
        div
          h3 hidden col
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, usa
      li
        div
          h3 hidden col
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, usa
      li
        div
          h3 hidden col
        div
          h5.eyebrow terroior
          h3 Oakvill, napavalley, usag