section.parallels
  div.wrapper
    ul
      li
        h5.eyebrow terroior
        h3 Oakvill, napavalley, usa
      li
        h5.eyebrow terroior
        h3 Oakvill, napavalley, usa
      li
        h5.eyebrow terroior
        h3 Oakvill, napavalley, usa