section.parallels
  div.wipe
    div.wipe__section.wipe__section--left
      ul.wipe__section-container
        li
          div
            h5.eyebrow terroior
            h3 Napa Valley, USA
          div
            h3 hidden col
        li
          div
            h5.eyebrow key ingredient
            h3 Hand-Picked Grapes
          div
            h3 hidden col
        li
          div
            h5.eyebrow technique
            h3 Barrel Aging Wine
          div
            h3 hidden col

    div.wipe__section.wipe__section--right
      ul.wipe__section-container
        li
          div
            h3 hidden col
          div
            h5.eyebrow terroior
            h3 Fujian, China
        li
          div
            h3 hidden col
          div
            h5.eyebrow key ingredient
            h3 Hand-Picked White Tea
        li
          div
            h3 hidden col
          div
            h5.eyebrow technique
            h3 Imperial Scenting Tea
    div.wipe-slider
      div.wipe-slider__show-left parallels with wine
      div.wipe-slider__handle
      div.wipe-slider__show-right parallels with tea