section.parallels
  div.wipe
    div.wipe__section.wipe__section--left.parallels__tea-leaves
      ul.wipe__section-container
        li.parallels__section
          div.parallels__title
            h4 terroir
            h3 Fujian, China
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | The aroma and taste of jasmine is heady and intoxicating due to the internationally renowned terroir and centuries of expertise from the Fuzhou region of Fujian.
            div.parallels__cta
              div.parallels__shop-button
              div.parallels__product blends from the same terroir.
        li.parallels__section
          div.parallels__title
            h4 key ingredient
            h3 Hand-Picked White Tea
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | Resulting in an intriguing soft slightly vegetal cup, the tea leaves are hand-picked from only the top-most leaves and buds of the camellia sinensis (tea) plant and hand-dried using a heated tray over fire. It takes hundreds of hours to make the small batch that fills the wine barrel used to make the TEALEAVES x Rudd Blend.
            div.parallels__cta
              div.parallels__shop-button
              div.parallels__product hand-picked white teas.
        li.parallels__section
          div.parallels__title
            h4 technique
            h3 Imperial Scenting Tea
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | Taste a perfect harmony of Jasmine and toast from the TEALEAVES x Rudd Blend. Labor intensive, the leaves were scented and re-scented 7 times in Fuzhou, China with the leaves placed between bamboo sheets of jasmine to absorb the aromas. The technique pays homage to the traditional Chinese method of imperial-scenting.
            div.parallels__cta
              div.parallels__shop-button
              div.parallels__product imperial scented blends.

    div.wipe__section.wipe__section--right.parallels__wine
      ul.wipe__section-container
        li.parallels__section
          div.parallels__title
            h4 terroir
            h3 Napa Valley, USA
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | The red volcanic iron-rich soils, unique in the world, produce masculine Cabernet Sauvignon grapes that form the backbone of the 2010 Rudd Oakville Estate Red, balancing harmoniously with the more delicate jasmine.
        li.parallels__section
          div.parallels__title
            h4 key ingredient
            h3 Hand-Picked Grapes
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | Estate-grown Cabernet Sauvignon grapes are picked by hand offering complex nuances of dark fruit to the TEALEAVES x Rudd Blend. Rudd Estate Winegrower Frederick Ammons tastes the grapes in the vineyards each morning to identify the best time for harvest.
        li.parallels__section
          div.parallels__title
            h4 technique
            h3 Barrel Aging Wine
          div.parallels__barrel
          div.parallels__content
            p.parallels__copy
              | Subtle notes of oak and vanilla are the result of a careful aging in toasted oak barrels. Rudd Oakville Estate uses handcrafted, French oak barrels sourced from 400-year-old forests in France. Barrel aging in French oak results in a more nuanced finished wine and pays homage to traditional winemaking practices in France’s esteemed Bordeaux and Burgundy.
    div.wipe-slider
      div.wipe-slider__show-left parallels with wine
      div.wipe-slider__handle
      div.wipe-slider__show-right parallels with tea