extends ../extends/base
block link
  -var selected = 'Tastings';

block body
  section.tastings-events(ng-init="ac.selectedEvent = null").ng-cloak
    div.wrapper
      header
        h3.tastings-events__headline Tastings&mdash;
        p.tastings-events__blurb Join us for tea and wine tastings and talks featuring the TEALEAVES x Rudd Cabernet French Oak Tea.

    div.wrapper
      section.tastings-event__content

        div.tastings-event(ng-repeat="event in events")
          div.tastings-event__image
            img(ng-src="{{ event.imgLink }}")
          div.tastings-event__info
            div.tastings-event__info__branding
              img(src="assets/images/tastings-events/logo_tealeaves-rudd.png" alt="TEALEAVES x RUDD" ng-if="!event.withRiedel")
              img(src="assets/images/tastings-events/logo_tealeaves-rudd-riedel.png" alt="TEALEAVES x RUDD x Riedel" ng-if="event.withRiedel")
            div.tastings-event__info__header
              h2.tastings-event__info__header--name
                span(ng-if="event.name") {{ event.name }}
                span(ng-if="!event.name") Tbd
              h2.tastings-event__info__header--date
                span(ng-if="event.date") Date: {{ event.date }}
                span(ng-if="!event.date") Date: Tbd
            div.tastings-event__info__content
              p(ng-if="event.venue") Venue: {{ event.venue }}
              p(ng-if="!event.venue") Venue: Tbd
              p(ng-if="event.location") Location: {{ event.location }}
              p(ng-if="!event.location") Location: Tbd
              button.button--primary(ng-click="ac.selectedEvent = event")
                | Event Details

    section.tastings-event-modal-container-bg(ng-if="ac.selectedEvent" ng-class="{'active': ac.selectedEvent}" ng-click="ac.selectedEvent = null")
    section.tastings-event-modal-container(ng-if="ac.selectedEvent" ng-class="{'active': ac.selectedEvent}")
      div.tastings-event-modal
        div.tastings-event-modal__close-btn(ng-click="ac.selectedEvent = null")
          img(src="assets/images/tastings-events/icon_close-btn.png")
        div.tastings-event-modal__age-restriction(ng-if="ac.selectedEvent.ageRestriction")
          img(ng-src="assets/images/tastings-events/icon_age-restriction.png" alt="Ages 21+")
        div.tastings-event-modal__branding
          img(src="assets/images/tastings-events/logo_tealeaves-rudd_black.png" alt="TEALEAVES x RUDD" ng-if="!ac.selectedEvent.withRiedel")
          img(src="assets/images/tastings-events/logo_tealeaves-rudd-riedel_black.png" alt="TEALEAVES x RUDD x Riedel" ng-if="ac.selectedEvent.withRiedel")
        div.tastings-event-modal__header
          h2(ng-if="ac.selectedEvent.name") {{ ac.selectedEvent.name }}
          h2(ng-if="!ac.selectedEvent.name") Tbd
        div.tastings-event-modal__content
          div.tastings-event-modal__info
            h6 Date and Time:
            div(ng-if="ac.selectedEvent.date") {{ ac.selectedEvent.date }}
            div(ng-if="!ac.selectedEvent.date") Tbd
          div.tastings-event-modal__info
            h6 Venue:
            div(ng-if="ac.selectedEvent.venue") {{ ac.selectedEvent.venue }}
            div(ng-if="!ac.selectedEvent.venue") Tbd
          div.tastings-event-modal__info
            h6 Details:
            div Tbd
          div.tastings-event-modal__info
            h6 More Info:
            div Tbd
        div.tastings-event-modal__footer


          a.tastings-event-modal__social-icon(ng-if="ac.selectedEvent.facebook" ng-href="{{ ac.selectedEvent.facebook }}" target="_blank")
            img(src="assets/images/tastings-events/icon_social-facebook.png")
          a.tastings-event-modal__social-icon(ng-if="ac.selectedEvent.twitter" ng-href="{{ ac.selectedEvent.twitter }}" target="_blank")
            img(src="assets/images/tastings-events/icon_social-twitter.png")

