section.introduction#introduction
  .introduction__container.waypoint(active-after active-until-disappear threshold=0.2)

    .introduction__top-left
      h1 The Pursuit #[span(class="show-mobile-inline") of]
      h1 #[span(class="show-desktop-inline") of] #[span(class="p-l-4--mobile") Perfection] &mdash;

    .introduction__top-right
      .introduction__quote
        figure.introduction_logo
          img(src="assets/images/logos/tealeaves-rudd.svg" alt="TEALEAVES x RUDD")
        p In 2014, TEALEAVES, expert in tea, collaborated with Rudd Oakville Estate, expert in wine. Our mission was simple: to collaborate and create an ultimate wine tea superior in palate.<br><br>

    .introduction__bottom-left
      .introduction__quote
        p "We asked ourselves, 'What kind of tea would we create if we had unlimited time and resources?' From this came the idea of a limited edition line of Barrel Aged Tealeaves to be appreciated by Master Sommeliers, wine aficionados, and tea lovers, alike."
        p &mdash; TEALEAVES Master Blender

    .introduction__bottom-right
      h1 in Wine Tea
