section.landing__mobile-fade-target.waypoint(threshold=0.5 active-after)
section.landing.parallax(speed=2 stop-after from-bottom)
  section.landing__mobile-tasting-table
    div.landing__bg-linear-fade
  div.landing__bg
    img.landing__bg--mobile(src="/assets/images/home-page/testformobile.png" alt="")
    div.landing__bg-linear-fade
//section.landing__mobile-fade.parallax.waypoint(threshold='0.2' active-after speed=2)
section.landing__box-container
  img.landing__box(src="/assets/images/home-page/box-lid-with-dropshadow.png" alt="Tealeaves x Rudd")