div.fluc-curtain
div.landing__bg-trigger.waypoint(threshold=0 active-after)
div.fixed-table
div.landing__bg
  div.landing__bg-linear-fade

section.landing__mobile-switch-target.waypoint(threshold=0 active-after)
section.landing
  section.landing__mobile-tasting-table.landing__mobile-tasting-table--fixed
    div.landing__bg-linear-fade
  section.landing__mobile-tasting-table.landing__mobile-tasting-table--scrollable
    div.landing__bg-linear-fade

section.landing__mobile-fade-target.waypoint(threshold=0 active-after)
div.landing__box-bottom-mobile.waypoint
  img(src="assets/images/home-page/testformobile.png" alt="")

section.landing__box-container.waypoint(active-before)
  img.landing__box(src="assets/images/home-page/box-lid-with-dropshadow.png" alt="Tealeaves x Rudd")

div.landing-cta
  div.landing-cta__copy-container
    div.landing-cta__copy
      img(src="assets/images/splash/download.svg")