section.landing.parallax(speed=2 stop-after from-bottom)
  figure.landing__container
    img(src="http://placekitten.com/g/1920/1080" alt="Tealeaves x Rudd")
section.landing__box
  img(src="http://placekitten.com/g/400/400" alt="Tealeaves x Rudd")

