section.landing.parallax(speed=2 stop-after from-bottom)
  div.landing__bg
    img.landing__bg--mobile(src="/assets/images/home-page/testformobile.png" alt="")
//section.landing__mobile-fade.parallax.waypoint(threshold='0.2' active-after speed=2)
section.landing__box-container
  img.landing__box(src="/assets/images/home-page/box-lid-with-dropshadow.png" alt="Tealeaves x Rudd")