- var imgsrc =  '../assets/images/glass-pairing/'
section.glass-pairing
  div.wrapper
    header.glass-pairing__header
      h3.glass-pairing__headline Tasting with Riedel Glass&mdash;
      p Family owned and operated by Georg J. Riedel (10th generation) and Maximilian J. Riedel (11th generation),
        | RIEDEL is recognized worldwide for the highest quality glasses and decanters for the enjoyment of wine
        | and spirits.

      p Attend tea and wine tastings alongside TEALEAVES, Rudd, and with
        | Georg J. Riedel.
    div.glass-pairing__quote
      blockquote
        p “Riedel is optimal for enjoying the taste
          |of TEALEAVES x Rudd when chilled.”
        br
        p - Gerog J. Riedel
        br
        img(src=imgsrc + "riedel.png")
      figure.glass-pairing__wine
        img(src=imgsrc + "wine.png" )

section.explore-bar
  div.wrapper
    ul.explore-bar__list
      li.explore-bar__item
        p Interested in learning more?
        p Explore TEALEAVES x Rudd Tea and Wine tastings with Georg J. Riedel.
      li.explore-bar__item
        button.button--primary Explore
