- var imgsrc =  'assets/images/glass-pairing/'
section.glass-pairing#glasspairing
  div.wrapper
    header.glass-pairing__header
      h4.eyebrow Craftsmanship&mdash;
      h3.glass-pairing__headline Tasting with Riedel Glass&mdash;

      div.glass-pairing__para
        p Family owned and operated by Georg J. Riedel (10th generation) and Maximilian J. Riedel (11th generation), RIEDEL is recognized worldwide for the highest quality glasses and decanters for the enjoyment of wine and spirits.
      div.glass-pairing__para
        p When chilled, which Riedel glass is optimal for enjoying the TEALEAVES x RUDD blend?
      div.glass-pairing__para
        p After several hours of tasting, from Old and New World Pinot Noir glasses to several handmade prototype Riesling and Viognier Chardonnay glasses, a judgement was made.

    div.glass-pairing__quote
      div.glass-pairing__para
        p Mr. Riedel recommended the Veritas Cabernet and its handmade version, Fatto a Manno:

      blockquote
        p “A harmonious balance, with hints of saddle and emerging notes of jasmine.  Some minerality, wide body and interesting surprise to the palate.  Nose is accentuated with the glass.”
        p - Gerog J. Riedel

      figure.glass-pairing__riedel-logo
        img(src=imgsrc + "riedel.png")

      div.glass-pairing__para.sub
        p VERITAS CABERNET
        p Serve neat, without ice, at 50°F.  Infuse for three hours in advance.

    figure.glass-pairing__wine
      img(src=imgsrc + "wine.png" )

section.explore-bar
  div.wrapper
    ul.explore-bar__list
      li.explore-bar__item
        p Interested in learning more?
        p Explore TEALEAVES x RUDD Tea and Wine tastings with Georg J. Riedel.
      li.explore-bar__item
        button.button--primary Explore
