extends extends/base
include macros/list.pug

block body
  include includes/splash/splash
  include includes/landing/landing
  include includes/quotes/quotes
  include includes/introduction/introduction
  //- div.show-desktop
  include includes/tasting-notes/tasting-notes
  //- div.show-mobile
  //-   include includes/tasting-notes/tasting-notes-mobile
  include includes/craftsmanship/craftsmanship
  div.show-desktop.min-full-bleed
    include includes/parallels/parallels
  div.show-mobile.min-full-bleed.bg-off-black
    include includes/parallels/parallels-mobile
  include includes/barrel-aging/barrel-aging
  include includes/french-oak/french-oak
  include includes/glass-pairing/glass-paring
  include includes/tasteteamonials/tasteteamonials
