extends extends/base
include macros/list.pug

block body
  include includes/splash/splash
  include includes/landing/landing
  include includes/quotes/quotes
  include includes/introduction/introduction
  include includes/tasting-notes/tasting-notes
  include includes/parallels/parallels