extends extends/base
include macros/list.pug

block body
  include includes/splash/splash
  include includes/landing/landing
  include includes/quotes/quotes
  include includes/introduction/introduction
  include includes/tasting-notes/tasting-notes
  include includes/craftsmanship/craftsmanship
  include includes/parallels/parallels
  include includes/barrel-aging/barrel-aging
  include includes/french-oak/french-oak
  include includes/glass-pairing/glass-paring
  include includes/tasteteamonials/tasteteamonials
