section.splash
  header.splash__header
    figure.splash__container
      img.splash__logo(src="../assets/images/logos/tealeaves-rudd.svg" alt="TEALEAVES x RUDD")
      figcaption.splash__container__figure-caption
        h4 Experience
        h1
          span a tasting of
          span wine barrel aged tea