-var menu = { 'Home': '/home', 'About': '/about', 'Tasting': '/tasting' };

block link
  -var selected = 'home'; //default

nav.main-nav.sticky-nav
  ul.main-nav__list
    each val, key in menu
      li.main-nav__item
        if selected === key
          a(class="main-nav__item__link selected" href=val, title=key)= key
        else
          a(class="main-nav__item__link" href=val, title=key)= key
    li.main-nav__item
      a(href="#" class="main-nav__item__link") Shop Now
  mobile-navigation
