nav.main-nav.sticky-nav
  ul.main-nav__list
    li.main-nav__item
      a(href="#" class="main-nav__item__link") Home
    li.main-nav__item
      a(href="about/" class="main-nav__item__link") About Us
    li.main-nav__item
      a(href="tasting/" class="main-nav__item__link") Tasting
    li.main-nav__item
      a(href="#" class="main-nav__item__link") Shop Now
  mobile-navigation
